<.form for={@form} action="/login" method="post">
  <.input field={@form[:email]} type="email" label="Email" />
  <.input field={@form[:password]} type="password" label="Password" />
  <br>
  <.button>Log in</.button>
</.form>